
/* <div class="padding-divider-statistics">
<div class="statistics-divider"></div>
</div> */

.padding-divider-statistics{
    padding: 2rem 0;
    width: 100%;
    display: none;
}
.statistics-divider{
    height: 1px;
    background-color: var(--search);
}

/*MEDIA QUERIES*/

/*APARECE EN MOBILE*/
@media (max-width: 768px) {
    .padding-divider-statistics{
        display: block;
    }
}