body {
    background-color: var(--background);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    max-width: 320px;
    padding: 20% 0;
}

.error-title {
    font-size: 3rem;
    font-family: 'Karla', sans-serif;
}

.error, .error-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    gap: 2rem;
}

.error-img {
    max-width: 320px;
}

.error-button {
    background-color: var(--logo);
    border: 1px solid var(--logo);
    border-radius: 50px;
    transition: all .1s ease-out;
    cursor: pointer;
    padding: 0.8rem 2.5rem;
    text-decoration: none;
}

.error-button:hover {
    background-color: var(--background);
    border: 1px solid var(--logo);
    font-weight: 600;
}

i {
    margin-left: 0.2rem;
    transition: transform .3s ease-in-out;
}

.error-button:hover i {
    transform: translateX(5px);
}

@media screen and (min-width: 768px) {
    .error {
        max-width: 620px;
    }
}

@media screen and (min-width: 1024px) {
    .error {
        max-width: 900px;
        flex-direction: row;
        padding: 10% 0;
    }

    .error-img {
        max-width: 400px;
    }
}