.container-general {
    grid-template-columns: 2fr 8fr
};


.container-contact{
    /* margin-top: 100px;
    margin-left: 170px; */
    display: flex;
    flex-direction: row;
}


 .form{
    text-align: center;
    /* align-items: start; */
    padding: 50px 55px;
    background-color: #282828;
    border-radius: 20px;
    width: 340px;
    height: 300px;

 }

 






.btn{
    background-color: #f7452e;
    border-radius: 10px;
    width: 60px;
    height: 25px;
    cursor: pointer;
}

.icons{
    display: flex;
    flex-direction: row;
    right: 20px;
    /*display: inline-block;
    align-items: flex-start;*/
     height: 20px;
     width: 20px;
 }

 .icons-1{
    position: relative;
    right: 20px;
    display: inline-block;
    /* align-items: flex-start; */
     height: 20px;
     width: 20px;
 }

 a{
    display: flex;
    flex-direction: row;
    /* margin-left: 25px; */
    /* padding-top: 10px; */
 }



/*-------------*/

 .contact-us{
    background-color: #282828;
    /* margin-top: 33px;
    margin-left: 45px; */
    text-align: center;
    /* align-items: start; */
    padding: 50px 55px;
    border-radius: 20px;
    width: 340px;
    height: 300px;


    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-us-socials{
    /* outline: 1px solid var(--logo); */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.social{
    display: flex;
    justify-content: start;
    align-items: center;
}

.social a{
    padding-left: 0.5rem;
}



.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-contact-center{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}


.title{
    padding-bottom: 2rem;
    font-size: 3rem;
}