
/*FOOTER*/
footer{
    background-color: var(--principal);
    display: grid;
    grid-template-columns: 3fr 6fr;
    align-items: center;
    height: 300px;
}
/*texto*/
.footer-text{
    text-align: center;
    width: 70%;
    justify-self: center;
    align-self: center;
    justify-content: center;
}
/*logo*/
.footer-logo{
    text-align: center;
    width: 70%;
    justify-self: center;
}
.footer-logo img{
    height: 200px;
}
/*íconos*/
.footer-icons{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    grid-column: auto;
    column-gap: 4rem;
}
.footer-icons i{
    font-size: 2.5rem;
}