/*general use variables*/
:root{
    --nav: #282828;
    --search: #646464;
    --logo: #f7452e;
    --aside: #282828;
    --background: #0D0D0D;
    --white: #F3F3F3;
    --post: #444444;
    --principal: #711616;
}

/*APLICA A TODA LA PÁGINA*/
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: var(--white);
}

.title{
    font-family: 'Karla', sans-serif;;
}







/*NAVEGACIÓN*/
nav{
    height: 60px;
    background-color: var(--nav);
    display: grid;
    grid-template-columns: 2fr 5fr 2fr; /*le da un área a las columnas*/
    align-items: center;
    justify-items: center;
}

/*contenedor del logo*/
.logo{
    height: 100%; /*toma el alto del contenedor padre*/
}
/*alto del logo*/
.logo img{
    height: 60px;
}

/*barra de navegación*/
.search-nav{
    width: 90%;
    height: 35px;
    background-color: var(--search);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    padding: 0 1.5rem;
}

/*logo de la barra de navegación*/
.mini-logo img{
    height: 25px;
}

/*contenedor de los botones user y register*/
.nav-buttons{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

/*color del boton login*/
.login{
    background-color: var(--logo);
}

/*color de register*/
.register{
    background-color: var(--search);
}

/*estilos para los botones*/
.login, .register{
    height: 100%;
    border-radius: 45px;
    min-width: 100px;
    border: none;
    cursor: pointer;
}
/*configuración de todos los anchor*/
a{
    text-decoration: none;
}

/*estilos del contenedor de la página*/
.container-general{
    background-color: var(--background);
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}




/*ASIDE*/
.aside-nav{
    background-color: var(--aside);
    width: 100%;
    border-top: 1px solid var(--background);
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: content-box;
    padding: 2rem 0;
}
/*color de popular*/
.popular-red{
    color: var(--logo);
}
/*estilo de los temas*/
.access{
    display: block;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    padding-left: 2rem;
}
/*hover de los temas del aside y el show more de las comunidades*/
.access:hover, .show-more-comunities:hover{
    color:var(--logo);
    cursor: pointer;
}
/*padding vertical del divider*/
.padding-divider{
    padding: 2rem 0;
    width: 100%;
}
/*estilos del divider*/
.divider{
    height: 1px;
    background-color: var(--search);
}

/*se quita el padding a los últimos hijos de las siguientes clases*/
.principal-page a:last-child, .topics a:last-child, .secondary-page a:last-child{
    padding-bottom: 0;
}




/*CONTENEDOR PRINCIPAL*/
.container-principal-posts{
    padding: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 2rem;
}


/*FOOTER*/
footer{
    background-color: var(--principal);
    display: grid;
    grid-template-columns: 3fr 6fr;
    align-items: center;
    height: 300px;
}
/*texto*/
.footer-text{
    text-align: center;
    width: 70%;
    justify-self: center;
    align-self: center;
    justify-content: center;
}
/*logo*/
.footer-logo{
    text-align: center;
    width: 70%;
    justify-self: center;
}
.footer-logo img{
    height: 200px;
}
/*íconos*/
.footer-icons{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    grid-column: auto;
    column-gap: 4rem;
}
.footer-icons i{
    font-size: 2.5rem;
}