.container-login{
    width: 500px;
    height: 500px;
    background-color: #711616;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-center{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.disclaimer-login{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    font-size: 1.1rem;
}

.email-login{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email-login input{
    width: 250px;
    height: 27px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}
.password-login{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.password-login input{
    width: 250px;
    height: 27px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}
.login-divider .divider{
    height: 1px;
    background-color: #646464;
}
.register-option p{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
}
.register-option a{
    text-decoration: underline;
    background-color: #711616;
}

.button-login button{
    background-color: #646464;
    border: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
.button-login button:hover{
    background-color: #282828;
    cursor: progress;
}
.button-login{
    padding: 10px 0px 10px 150px;
}