.container-general {
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.container-post{
    background-color: #444444;
    width: 500px;
    height: 480px;
    box-shadow: 3px 5px 6px 4px #282828;
    border-radius: 15px;
    padding: 50px 50px ;
}
/* title post */
.title-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.title-post h3{
    color: #F3F3F3;
    text-transform: initial;
    font-family: 'Karla', sans-serif;;
    font-size: 1rem;
}
.title-post input{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    color: #0D0D0D;
}
/* categories */
.category-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: initial;
    padding: 15px;
}
.category-post select{
    height: 25px;
    width: 220px;
    border-radius: 8px;
    padding: 5px;
}
.category-post option{
    color: #646464;
    padding: 15px;
}
.category-post select:hover{
    cursor: pointer;
    border-color: 2px #711616;
}
.category-post h3{
    font-family: 'Karla', sans-serif;;
    font-size: 1rem;
}
/* content of the post & submit button*/
.content-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    text-transform: initial;
}
.content-box {
    border-radius: 20px;
    height: 150px;
    width: 380px;
}
.content-box input{
    height: 150px;
    width: 380px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    color: #0D0D0D;
}

.content-post h3{
    font-family: 'Karla', sans-serif;;
    font-size: 1rem;
}

.submit-post {
    text-align: end;
}
.submit-post button{
    background-color: #646464;
    color: #F3F3F3;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 1px 2px 2px 1px #282828;
    padding: 9px;
    width: 100px;
}
.submit-post button:hover{
    background-color: #711616;
}