.container-register{
    width: 290px;
    height: 300px;
    padding: 50px 45px;
    background-color: #444444;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 1px;
    left: 35px;
    margin: 30px 0 30px 0;
}
.register-center{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.div-register{
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    background-color: #711616;
    height: 30px;
    width: 290px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}


.email-register{
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 10px 10px 30px;
}
.email-register input{
    width: 230px;
    height: 25px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}


.password-register{
    font-family: 'Inconsolata', monospace;
    padding: 5px 10px 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.password-register input{
    width: 230px;
    height: 25px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}


.confirmPassword-register{
    font-family: 'Inconsolata', monospace;
    padding: 5px 10px 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.confirmPassword-register input{
    width: 230px;
    height: 25px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}


.register-divider .divider{
    width: 290px;
    height: 1px;
    background-color: #646464;
}


.logIn-option p{
    font-family: 'Inconsolata', monospace;
    padding: 5px 0px 10px 30px;
    text-transform: capitalize;
}
.logIn-option a{
    text-decoration: underline #711616;
    background-color: #444444;
}


.confirm-register input{
    background-color: #646464;
    border-color: #282828;
    height: 30px;
    width: 65px;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}
.confirm-register {
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px 0px 10px 0px;
}
.confirm-register input:hover{
    background-color: #711616;
}


.nav-buttons{
    justify-content: flex-end;
}
.logo {
    padding-inline-start: 100px;
}


@media only screen and (min-width:728px)  {
    .container-register{
        width: 450px;
        height: 450px;
        padding: 50px 45px;
        left: 1px;
        right: 55px;
    }
    .register-center{
        gap: 6px;
    }
    .div-register{
        height: 50px;
        width: 450px;
    }
    .email-register{
        padding: 15px 10px 10px 60px;
        gap: 10px;
    }
    .email-register input{
       width: 330px;
       height: 27px; 
    } 
    .password-register{
        padding: 15px 10px 10px 60px;
       gap: 10px;
    }
    .password-register input{
        width: 330px;
        height: 27px;
    }
    
    .confirmPassword-register{
        padding: 10px 10px 10px 60px;
        gap: 10px;
    }
    .confirmPassword-register input{
        width: 330px;
        height: 27px;
    }

    .register-divider .divider{
        width: 445px;
        height: 1px;
        background-color: #646464;
    }
    .register-divider{
        padding-left: 3px;
        padding-top: 10px;
    }
    .confirm-register input{
        height: 40px;
        width: 80px;
        font-size: 1.1rem;
    }
    .nav-buttons{
        justify-content: flex-end;
    }
    .logo {
        padding-left: 590px;
        padding-right: 50px;
    }
    .logIn-option p{
        padding: 20px 40px 10px 100px;
    }

    form{
        padding: 10px 255px 10px 405px;
    }
}
@media only screen and(min-width:760px),/*(max-width:1024px)*/{
    form{
        padding: 10px 255px 10px 165px;
    }
    .logo {
        display: flex;
        align-items: start;
    
    }
    
}