.container-register{
    width: 500px;
    height: 500px;
    background-color: #711616;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-center{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.disclaimer-register{
    font-family: 'Karla', sans-serif;;
    padding: 30px;
    text-transform: capitalize;
    font-size: 1.1rem;
}

.email-register{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email-register input{
    width: 250px;
    height: 27px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}
.password-register{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.password-register input{
    width: 250px;
    height: 27px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}

.confirmPassword-register{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.confirmPassword-register input{
    width: 250px;
    height: 27px;
    border-radius: 7px;
    background-color: #646464;
    border-color: #282828;
}


.register-divider .divider{
    height: 1px;
    background-color: #646464;
}
.logIn-option p{
    font-family: 'Karla', sans-serif;;
    padding: 10px 50px 10px 80px;
    text-transform: capitalize;
}
.logIn-option a{
    text-decoration: overline 1px #282828;
}

.button-register button{
    background-color: #646464;
    border: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
.button-register button:hover{
    background-color: #282828;
    cursor: progress;
}
.button-register{
    padding: 10px 0px 10px 150px;
}