
.register-form{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--post);
    border-radius: 20px;
    padding: 55px 50px;
    width: 300px;
    height: 350px;
    margin: 45px auto;
}
.register-form fieldset{
    border-style: none;
    display: flex;
    flex-direction: column;
    padding: 8px 0px 8px 0px;
}
.register-form label{
    padding: 3px 0px 3px 0px;
}
.register-form input{
    padding: 3px;
    color: var(--background);
}
.register-form button{
    background-color: var(--search);
    border-radius: 10px;
    width: 60px;
    height: 25px;
    cursor: pointer;
    align-self: center;
    padding: 5px;
}
.register-form button:hover{
    background-color: var(--principal);
}
.register-form h1{
    text-align: center;
    font-size: 1.1rem;
}
.logIn-option a{
    background-color: var(--post);
    text-decoration: underline var(--principal);
    padding: 6px 0px 6px 0px;
}
.logIn-option p{
    padding: 6px 0px 8px 0px;
}
@media only screen and (min-width:768px) {
    .register-form{
        gap: 12px;
        padding: 55px 50px;
        width: 370px;
        height: 400px;
        margin: 70px auto;
    }
    .register-form fieldset{
        padding: 10px 0px 10px 0px;
    }
    .register-form label{
        padding: 5px 0px 5px 0px;
    }
    .register-form input{
        padding: 5px;
    }
    .register-form button{
        width: 60px;
        height: 30px;
        padding: 5px;
    }
    .logIn-option a{
        padding: 10px 0px 7px 0px;
    }
    .logIn-option p{
        padding: 10px 0px 8px 0px;
    }
}

@media screen and (min-width: 1024px) {
    .register-form{
        width: 390px;
        height: 430px;
        margin: 70px auto;
    }
    .register-form a, p {
        font-size: 10px;
    }
    .register-form input{
        padding: 5px;
    }
    .register-form button{
        width: 68px;
        height: 35px;
        padding: 5px;
        font-size: 13px;
    }
}
@media screen and (min-width: 1280px){
    .register-form{
        width: 410px;
        height: 440px;
        margin: 70px auto;
    }
    .register-form a, p {
        font-size: 14px;
    }
    .register-form input{
        padding: 7px;
    }
    .register-form button{
        width: 70px;
        height: 36px;
        padding: 5px;
    }
}
@media screen and (min-width: 1600px){
    .register-form{
        width: 420px;
        height: 460px;
        margin: 70px auto;
    }
    .register-form a, p {
        font-size: 16px;
    }
    .register-form input{
        padding: 7px;
    }
    .register-form button{
        width: 75px;
        height: 40px;
        padding: 5px;
        font-size: 15px;
    }
}
