/* .container-general {
    grid-template-columns: 2fr 8fr
}; EN DESUSO*/

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
}

h2 {
    font-size: 1.5rem;
}

.about-us {
    padding: 2rem 3rem 4rem;
}

.about-head {
    font-size: 2rem;
}

.about-title {
    display: flex;
    column-gap: 0.7rem;
    padding: 3rem 0 1.25rem;
    align-items: baseline;
}

.about-title h2 {
    text-decoration: underline;
    text-decoration-color: var(--logo);
    text-underline-offset: 0.5rem;
}

.about-subtitle, .about-spacing {
    padding: 1.563rem 0 1rem;
}

.icon, path {
    color: var(--logo);
    font-size: 1.3rem;
}