
.container-post{
    background-color: #444444;
    width: 275px;
    height: 335px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
}
/* title post */
.div-createPost{
    width: 275px;
    height: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #646464;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
}
.title-post {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px 10px 20px;
}
.title-post label{
    font-size: 13px;
}
.title-post input{
    height: 20px;
    width: 230px;
    border-radius: 8px;
    border: 1px solid #711616;
    color: #0D0D0D;
}
/* categories */
.category-post{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: initial;
    padding: 10px 15px 10px 20px;
}
.category-post label{
    font-size: 13px;
}
.category-post select{
    height: 20px;
    width: 230px;
    border-radius: 8px;
    border: 1px solid #711616;
    color: #711616;
}
.category-post option{
    color: #711616;
}
.category-post select:hover{
    cursor: pointer;
    border: 1px solid #711616;
}
/* content of the post & submit button*/
.content-post{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: initial;
    padding: 10px 15px 15px 20px;
    color: #0D0D0D;
}
.content-post label{
    font-size: 13px;
}
.content-post textarea{
    border: 1px solid #711616;
    color: #282828;
    height: 80px;
    width: 230px;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 10px;
}

.submit button{
    width: 80px;
    height: 30px;
    border-radius: 35px;
    background-color: #282828;
}
.submit button:hover{
    background-color: #711616;
    cursor: pointer;
}
.submit{
    padding: 10px 10px 10px 100px;
}


@media only screen and (min-width:728px) {
   .container-post{
     width: 445px;
     height: 435px;
    }
   .div-createPost{
        width: 445px;
        height: 45px;
        padding: 15px 10px;
        font-size: 1.1rem;
    }
    .title-post {
        gap: 15px;
        padding: 5px 15px 10px 20px;
    }
    .title-post label{
        font-size: 1.1rem;
    }
    .title-post input{
        height: 30px;
        width: 380px;
    }
    .category-post{
        gap: 15px;
        padding: 5px 15px 10px 20px;
    }
    .category-post label{
        font-size: 1.1rem;
    }
    .category-post select{
        height: 30px;
        width: 380px;
    }
    .content-post{
        gap: 15px;
        padding: 5px 15px 15px 20px;
    }
    .content-post label{
        font-size: 1.1rem;
    }
    .content-post textarea{
        height: 100px;
        width: 380px;
        padding-top: 5px;
    }
    .submit button{
        width: 100px;
        height: 50px;
    }
    .submit button:hover{
        background-color: #711616;
        cursor: pointer;
    }
    .submit{
        padding: 10px 10px 10px 160px;
    }
    form{
        padding: 50px 120px 30px 280px;
    }
}