@import '../../styles/styles.scss';

.modal-container {
  position: relative;
  height: 85vh;
  padding: 0.3rem;
  border-radius: 3px;
  background-color: $aside-color;
  width: 85%;
}

.modal {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

/*modal*/
.modal.is-open {
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0.2px solid $search-color;
  cursor: pointer;
}

.editor {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

/* text editor styles */
.editor .post-title {
  width: 100%;
  padding: 0.8rem;
  background: inherit;
}

.title-post:focus {
  outline: none;
}

#textEditor {
  height: 200px;
  color: inherit;
  padding: 2px;
  border-bottom-color: 0.2px solid $search-color;
  overflow-y: auto;
}

.border-container {
  border-top: 2px solid $search-color;
  border-right: 2px $time-color;
  border-bottom: 2px $time-color;
  border-left: 2px solid $search-color;
  border-radius: 3px;
}

/* categories styles */
.item-fieldset {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 160px;
  width: 100%;
  overflow-y: auto;
  border: none;
  outline: none;
}

.item {
  &-fieldset {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 160px;
    width: 100%;
    overflow-y: auto;
    border: none;
    outline: none;
  }

  label {
    flex-direction: column;
    padding: 1px 5px;
    font-size: 0.6rem;
  }
}

.post-btn {
  background: $logo-color;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  position: absolute;
  right: 0.3rem;
  bottom: 0.8rem;
}

/*  openModal button styles */
.openModal {
  width: 65px;
  height: 65px;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 2rem;

  &-btn {
    position: fixed;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: $logo-color;
    border: none;
    transition: all 0.5s ease-in;
    cursor: pointer;

    &:hover {
      transform: translateX(-100px);
      width: 150px;
      border-radius: 5px;
      font-size: 15px;
    }
  }
}

/*scrol bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-color;
  border-radius: 10px 10px 3px 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $search-color;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $time-color;
}


/* ==================================================================== */

@media (min-width: 768px) {
  .modal-container {
    width: 65%;
  }

  .item label {
    font-size: 0.7rem;
  }

  .modal-container {
    padding: 0.5rem;
  }

  .modal-close {
    /*reposicionamiento*/
    top: 0.9rem;
    right: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .modal-container {
    height: 75vh;
    width: 55%;
  }

  .item label {
    font-size: 0.8rem;
  }

  .modal-container {
    padding: 0.8rem 0.5rem;
  }

  .modal-close {
    /*reposicionamiento*/
    top: 1.3rem;
    right: 1rem;
  }
}

@media (min-width: 1240px) {
  .modal-container {
    width: 55%;
  }

  .item label {
    font-size: 0.9rem;
  }
}

@media (min-width: 1400px) {
  .item label {
    font-size: 1rem;
  }

  .modal-container {
    height: 70vh;
    width: 45%;
  }

  .item-fieldset {
    height: 160px;
  }
}

@media (min-width: 1600px) {
  .item label {
    font-size: 1.1rem;
  }

  .modal-container {
    height: 65vh;
    width: 45%;
  }

  .item-fieldset {
    height: 220px;
  }
}

@media (min-width: 2000px) {
  .item label {
    font-size: 1.3rem;
  }

  .modal-container {
    height: 50vh;
    width: 45%;
  }

  .item-fieldset {
    height: 250px;
  }
}

/* ==================================================================== */