.error-container {
    display: flex; 
    flex-direction: column;
    align-items: center;

    justify-content: center; /*importante*/
    height: 100vh;
}

.error {
    max-width: 320px;
    /* padding: 2rem 0; */
}

.error-title {
    font-size: 3rem;
    font-family: 'Karla', sans-serif;
}

.error, .error-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0.2rem; */
    /* padding: 0.2rem; */
    gap: 2rem;
}

.error-img {
    max-width: 320px;
}

.error-button-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--logo);
    border: 1px solid var(--logo);
    border-radius: 50px;
    transition: all .1s ease-out;
    cursor: pointer;
    padding: 0.8rem 1.7rem;
}

/* 
.error-button {
     background-color: var(--logo);
    border: 1px solid var(--logo);
    border-radius: 50px;
    transition: all .1s ease-out;
    cursor: pointer;
    padding: 0.8rem 2.5rem; 
    text-decoration: none;
} */

.error-button-container:hover{
    background-color: var(--background);
    font-weight: 600;
}
/* .error-button:hover {
    background-color: var(--background);
    border: 1px solid var(--logo);
    font-weight: 600;
} */

.icon {
    /* margin-left: 0.5rem; */
    padding-left: 0.4rem;
    transition: transform .3s ease-in-out;
}
.icon path {
    color: var(--white);
    font-size: 1.3rem;
}

.error-button-container:hover > .icon path {
    color: var(--logo);
    font-size: 1.3rem;
}
.error-button-container:hover > .icon{
    transform: translateX(5px);
}

/* .error-button:hover .icon {
    transform: translateX(5px);
} */

@media screen and (min-width: 768px) {
    .error {
        max-width: 620px;
        /* padding: 10rem 0; */
    }
}

@media screen and (min-width: 1024px) {
    .error {
        max-width: 900px;
        flex-direction: row;
        /* padding: 12rem 0; */
        /* padding: 2rem 0; */
    }

    .error-img {
        /* max-width: 400px; */
        max-width: 320px
    }
}
