/*Desk First*/



.secondary-post{
    background-color: var(--post);
    border-radius: 5px;
    padding: 0.8rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.post-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
}

.post-content-img{
    background-image: url(../../assets/imagenPrueba.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    border-radius: 3px;
}
.post-content-data{
    border-radius: 3px;
    line-height: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: var(--search);
    overflow: hidden;
    height: 100px;
}
.post-content-data-title{
    padding-bottom: 0.7rem;
    font-size: 1rem;
}
.post-content-data-text{
    max-height: 3rem; 
    overflow: hidden; 
    font-size: 0.8rem;
    word-wrap: break-word; 
}

.post-content-data p {
    font-size: 0.8rem;
}


.post-access{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.post-access-user{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
.post-access-user-data-name{
    font-size: 1.2rem;
}
.post-access-user-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--white);
}
.post-access-user-data{
    padding-left: 0.5rem;
}
.post-access-user-data-time{
    color: #bebebe;
    font-size: 0.9rem;
}

.post-access-buttons{
    display: flex;
    padding: 0.5rem 0rem;
    justify-self: end;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 2rem;
}

.post-access-buttons-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.post-access-buttons-button img {
    padding-right: 0.2rem;
    height: 35px;
}
.post-access-buttons-show p{
    font-size: 0.9rem;
    color: var(--background);
}
.post-access-buttons-show{
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.4rem 0.6rem;
    background-color: var(--white);
} 





/*RESPONSIVE*/
@media (max-width: 768px) {
    .secondary-post{
        padding: 0.6rem;
    }
    .post-content{
        column-gap: 0.5rem;
    }
    
    .post-content-img{
        height: 100px;
        border-radius: 3px;
    }
    .post-content-data{
        border-radius: 3px;
        line-height: 1rem;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100px;
    }
    .post-content-data-title{
        padding-bottom: 0.6rem;
        font-size: 0.8rem;
    }
    .post-content-data-text{
        max-height: 1rem; 
        font-size: 0.7rem;
    }
    
    .post-content-data p {
        font-size: 0.8rem;
    }
    
    .post-access{
        padding-top: 1rem;
    }
    .post-access-user{
        padding-right: 1rem;
    }
    .post-access-user-data-name{
        font-size: 0.8rem;
    }
    .post-access-user-image{
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .post-access-user-data{
        padding-left: 0.5rem;
    }
    .post-access-user-data-time{
        font-size: 0.7rem;
    }
    
    .post-access-buttons{
        padding: 0.5rem 0rem;
        row-gap: 0.5rem;
        column-gap: 2rem;
    }
    
    .post-access-buttons-button{
        padding-right: 0.3rem;
        font-size: 0.9rem;
    }
    .post-access-buttons-button img {
        padding-right: 0.2rem;
        height: 35px;
    }
    .post-access-buttons-show p{
        font-size: 0.9rem;
    }
    .post-access-buttons-show{
        padding: 0.4rem 0.6rem;
    } 
} 

@media (min-width: 1024px) {
    
} 

@media (min-width: 1240px) {

}



