/*CONTENEDOR GENERAL*/

/*3 COLUMNAS para pantallas iguales o superiores a 1024px*/
.main-content{
    background-color: var(--background);
    display: grid;
    /* grid-template-columns: 3fr 7fr 2fr; */
    border-top: 1px solid var(--background);
}

.secondary-grid {
    grid-template-columns: 3fr 9fr;
}
  
.default-grid {
grid-template-columns: 3fr 7fr 2fr;
}

/*Disposición del contenido en una única columna hasta que la pantalla tenga como mínimo 1024px*/
@media (max-width: 1023px) {
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}