@import '../../../styles/styles.scss';

.openModal {
  width: 65px;
  height: 65px;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 2rem;  
}
.openModal-btn {
  position: fixed;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $logo-color;
  border:none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.openModal-btn:hover {
  transform: translateX(-100px);
  width: 150px;
  border-radius: 5px;
  font-size: 15px;
}