/*--------------MOBILE FIRST-----------------*/


/*contenedor del componente*/
.post{
    background-color: var(--post);
    border-radius: 3px;
    padding: 0.3rem;
}
.most-popular{
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
}
/*-----------------Imagen y texto----------------*/
.post-content{
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 0.3rem;
}
.most-popular .post-content{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
/*imagen del post*/
.post-content-img{
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    border-radius: 3px;
}
.most-popular .post-content-img{
    height: 250px;
}
/*contendor del título y texto del post*/
.post-content-data{
    border-radius: 3px;
    padding: 0.3rem;
    background-color: var(--search);
    overflow: hidden;
    height: 80px;
    display: grid;
    grid-auto-rows: auto;
}
.most-popular .post-content-data{
    height: 130px;
}

/*título restringido al 75% del contenedor*/
.post-content-data-title{
    padding-bottom: 0.5rem;
    overflow: hidden; 
    word-wrap: break-word;   
}
.post-content-data-title p{
    height: 100%;
}
/*texto del posteo, en dispositivos pequeños no se muestra*/
.post-content-data-text{
    overflow: hidden; 
    word-wrap: break-word; 
    /* display: none; */
}
.post-content-data-text p{
    max-height: 100%;
}
.post-content-data-text p {
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--white)40%, transparent);
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores basados en WebKit */
    color: transparent;
  }
.post-user-data .user-time{
    color: var(--time);
}


/*-----------------Usuario y Botón show post----------------*/
.post-container-user{
    display: flex;
}
.post-user{
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0.5rem;
}
/*datos del usuario*/
.post-user-data .user-name:hover{
    color: var(--logo);
    cursor: pointer;
}
/*imagen del usuario*/
.post-user-image{
    background-color: var(--white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*BOTÓN SHOW POST*/
.button-show{
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.4rem;
    background-color: var(--white);
}
.button-show:hover{
    outline: 1px solid var(--logo);
    background-color: rgba(0, 0, 0, 0.096);
    cursor: pointer;
}
.button-show a{
    color: var(--background);
}
.button-show:hover a{
    color: var(--white);
}

/*----------------------RESPONSIVE---------------------------*/
@media (min-width: 768px) {
    .post-content{
        display: grid;
        grid-template-columns: 3fr 7fr;
        column-gap: 0.5rem;
    }
    .post-content-data-text{
        display: block;
    }
    .most-popular .post-user{
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 1024px) {
    .post-content-data{
        height: 120px;
    }
    /*imagen del post*/
    .post-content-img{
        height: 120px;
    }
    .post{
        padding:0.5rem;
    }
}

@media (min-width: 1240px) {
    .post-user-image{
        height: 40px;
        width: 40px;
    }
}
@media (min-width: 1400px) {
    .post-container-user{
        display: grid;
        grid-template-columns: 3fr 7fr; 
        column-gap: 0.5rem;
    }
    .post-user{
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0rem;
    }
    .most-popular .post-content-img{
        height: 350px;
    }
    /*contendor del título y texto del post*/
    .most-popular .post-content-data{
        height: 150px;
    }
}

@media (min-width: 2000px) {
    .post-content-img{
        height: 150px;
    }
    /*contendor del título y texto del post*/
    .post-content-data{
        height: 150px;
    }
}