@import '../../styles/styles.scss';
.register-form {
    background-color: $post-color;
    border-radius: 1.25rem;
    padding: 2rem 2.5rem;
    width: 280px;
    margin: 5rem auto 6rem;

    h1{
        text-align: center;
        font-size: 1.4rem;
        padding: 0 1rem 0.5rem 1rem;
        margin: 1.5rem 0.5rem;
    }
}

.register-form input {
    color: $background-color;
    width: 100%;
    padding: 0.7rem 0.5rem;
    border: 0;
    border-radius: 0.3rem;
    margin: 0.8rem 0 2.5rem;

    &:focus{
        transition: all .2s;
        outline: 2px solid $logo-color;
    }
    &::placeholder {
        color: $time-color;
    }
}
.register-form label{
    margin: 1rem 0 0.8rem 0;
}
.username-required, .name-required, .email-required{
    padding: 0.3rem;
}
.username-validation, .name-validation, .password-validation, .email-validation {
    margin: -2rem 0 3rem 0;
}
.register-button-btn{
    display: block;
    margin: 1.3rem auto 0 auto;
    padding: 0.6rem 1.2rem;
    background-color: $logo-color;
    border: 1px solid $logo-color;
    border-radius: 1.3rem;
    transition: all .1s ease-out;
    cursor: pointer;
    padding: 0.6rem 2.5rem;
    text-decoration: none;
    font-size: 1rem;
    height: 2.5rem;

    &:hover{
        background-color: $nav-color;
        border: 1px solid $logo-color;
        font-weight: 600;
    }
}

.logIn-option {
    text-align: center;
    padding: 1.5rem 0 1rem 0;

    &-p{
        margin: 0.9rem 0 0.2rem;
    }

    &-link {
        text-decoration: underline $logo-color;
    }
}


@media only screen and (min-width:768px) {
    .register-form input {
        margin: 0.8rem 0 2.5rem;
    }
    .register-form{
        width: 500px;
        margin: 6rem auto 7rem;
    }
    .logIn-option p{
        padding: 1rem 0 1rem 0;
    }
    .column-left{
        width: 46%;
        display: flex;
        flex-direction: column;
        float: left;
    } 
    .column-rigth{
        width: 46%;
        display: flex;
        flex-direction: column;
        float: right;
    } 
    .bottom-elements{ 
        display: flex;
        flex-direction: column;
        clear: both;
    } 
    .email-register input{
        width: 100%;
    }
    .logIn-option {
        text-align: center;
        padding: 1.5rem 0 1rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .register-form{
        width: 580px;
    }
    .register-button-btn{
        margin: 2rem auto 0 auto;
    }
    
}
@media screen and (min-width: 1280px){
    .register-form{
        width: 620px;
    }
    .register-button-btn{
        margin: 2rem auto 0 auto;
    }
    .logIn-option {
        text-align: center;
        padding: 1.5rem 0 1rem 0;
    }
}