@import '../../styles/styles.scss';

.container-asideright{
    width: 93%;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem; 
    align-items: center;
}


@media (min-width: 1024px) {
    .container-asideright{
        width: 100%;
        padding-right: 2rem; 
    }
}