@import '../../styles/styles.scss';

.container-statistics-and-comunities {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding-right: 2rem;
    align-items: center;
}

.statistic {
    background-color: $aside-color;
    border-radius: 3px;
    padding: 1rem 2rem;
    width: 100%;

    &-data {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &-title {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .container-statistics-and-comunities {
        width: 90%;
    }
}