@import '../../../styles/styles.scss';

.container-show-post {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem 0;
    row-gap: 0.8rem;
  
    .most-popular {
      .post-content-data-text p {
        color: $white-color;
      }
  
      .post-content-data {
        height: fit-content;
        display: block;
      }
    }
  
    .button-show {
      display: none;
    }
  }