/*DESK FIRST--1024px*/
nav{
    background-color: var(--nav);
    height: 70px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
}

.nav-menu {
    display: grid;
    grid-template-columns: 5fr 1fr; 
    justify-content: center;
    width: 100%; /*es importante esta declaración para que en mobile ocupe toda la pantalla*/
    align-items: center; /*alinea la search bar con los botones*/
    padding-right: 1.5rem;
}

.container-search-bar{
    display: flex;
    justify-content: center;
}
/*ocupa el 70% de su asignación de 5fr */
.search-nav{
    width: 70%; 
}
/*botón de submit, contiene a la img*/
.search-nav button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 0.8rem; /*si el texto es muy largo, no se choca con la lupa*/
}
/*altura de la lupa*/
.search-nav button img{
    height: 25px;
}
/*form class search-bar*/
.search-bar{
    height: 35px;
    background-color: var(--search);
    border-radius: 50px;
    display: flex;
    justify-content: space-between; /*separa el input del botón submit*/
    align-items: center;
    padding: 0 0.8rem 0rem 1.5rem;/*separa un poco la lupa y el texto*/
}
.search-bar input{
    width: 100%;
    border: none; 
    background-color: transparent;
    color: var(--white);
    outline: none;
}
::placeholder{
    color: var(--white);
    background-color: transparent;
}


.nav-buttons{
    height: 30px;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.login-button{
    background-color: var(--logo);
}
.register-button{
    background-color: var(--search);
}
.login-button, .register-button{
    height: 100%;
    border-radius: 45px;
    min-width: 80px;
    border: none;
    cursor: pointer;
}

.aside-nav{
    display: none;
}

/* El toggle del nav no se visualiza en pantallas grandes*/
.nav-toggle{
    display: none;
}


.containerAsideInNav{
    display: none;
}

@media (min-width: 768px) {
    .aside-nav li a{
        font-size: 0.8rem;
    }
}

@media (max-width: 1023px) {
    nav{
        display: flex;
        justify-content: space-between; /*espacio entre el logo y el toggle*/
        padding: 0 2rem;
        position: sticky; /*Establece la posición del nav como "sticky", lo que significa que el elemento seguirá siendo fijo en su lugar hasta que se desplace más allá de él. En este caso, el elemento se quedará en la parte superior de la ventana del navegador cuando se desplace hacia abajo.*/
        top: 0px; /*Fija el nav en la parte superior de la ventana del navegador, ya que su posición es "sticky" y el valor "0px" coloca su borde superior justo en la parte superior de la ventana.*/
        height: 60px;
    }
    /*el display grid cambia a block para una visualización vertical*/
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: var(--nav);
        position: fixed; /*Fija el .nav-menu en la ventana del navegador, lo que mantiene su posición incluso al desplazar la página.*/
        top: 60px; /*Deja un espacio de 60 píxeles desde la parte superior para que el .nav-menu no se superponga al contenido debajo del encabezado (el nav)*/
        height: calc(100% - 60px); /*Establece la altura del .nav-menu de manera que ocupe el 100% de la altura de la ventana del navegador, menos 60 píxeles para el espacio superior.*/
        overflow-y: auto; /*Agrega una barra de desplazamiento vertical si el contenido del .nav-menu es más largo que su altura.*/
        left: 100%; /*Inicialmente, coloca el .nav-menu fuera de la vista, ya que está desplazado hacia la derecha en un 100% de su ancho.*/
        transition: left 0.3s; /*Agrega una transición suave de 0.3 segundos a la propiedad left, lo que significa que cuando se modifique la propiedad left, habrá una animación de deslizamiento*/
        display: block; /*Establece la propiedad de visualización del elemento .nav-menu como "block", lo que hace que sea visible en el flujo de la página.*/
        padding-right: 0rem;
        z-index: 200;
    }
    .container-search-bar{
        padding: 2rem 0;
    }
    .nav-toggle{
        color: white;
        background: none;
        border: none;
        font-size: 25px;
        padding: 0 5px;
        line-height: 60px;
        cursor: pointer;
        display: flex;
    }
    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    .containerAsideInNav{
        display: flex;
    }
    .containerAsideInNav .aside-left{
        display: block; 
        width: 100%;
        text-align: center;
    }
    .containerAsideInNav{
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .logo img{
        height: 50px;
    }
    .nav-buttons{
        height: 36px;
        column-gap: 1.2rem;
    }
    .login-button, .register-button{
        min-width: 90px;
    }
    .search-nav{
        width: 80%; 
    }
    
}

@media (min-width: 1240px) {
    .logo img{
        height: 55px;
    }
    .search-bar{
        padding: 0 1.5rem 0rem 1.5rem;
    }
    .nav-menu {
        padding-right: 2rem;
    }
    
}

@media (min-width: 1400px) {
    .login-button, .register-button{
        min-width: 100px;
    }
}

@media (min-width: 1600px) {
    .logo img{
        height: 65px;
    }
    .nav-buttons{
        height: 40px;
    }
    .login-button, .register-button{
        min-width: 130px;
    }
}

@media (min-width: 1900px) {
    .logo img{
        height: 70px;
    }
    nav {
        height: 90px;
    }
    .search-bar {
        height: 45px;
    }
    .search-nav button img{
        height: 30px;
    }
    .nav-buttons{
        height: 45px;
    }
    .login-button, .register-button{
        min-width: 150px;
    }
    .search-bar{
        padding: 0 1.5rem 0rem 2rem;
    }
}

@media (min-width: 2500px) {
    .logo img{
        height: 100px;
    }
    nav {
        height: 130px;
    }
    .search-bar {
        height: 60px;
    }
    .search-nav button img{
        height: 40px;
    }
    .nav-buttons{
        height: 60px;
    }
    .login-button, .register-button{
        min-width: 180px;
    }
    .search-bar{
        padding: 0 2rem 0rem 2.5rem;
    }
}