:root{
    --nav: #282828;
    --search: #646464;
    --logo: #f7452e;
    --aside: #282828;
    --background: #0D0D0D;
    --white: #F3F3F3;
    --post: #444444;
    --principal: #711616;
    --time:#bebebe;
}

*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

a{text-decoration: none;}

html {font-size: 10px; }  
p, button, li a, a{font-size: 1rem;} 
.title, h2, .user{font-size: 1.1rem;}
.less-important{font-size: 0.9rem;}
FontAwesomeIcon, a .footer-icon{font-size: 2rem;}

@media (min-width: 425px) {html {font-size: 12px;}}
@media (min-width: 1240px) {html {font-size: 14px;}}
@media (min-width: 1400px) {html {font-size: 16px;}}
@media (min-width: 1600px) {html {font-size: 16px;}}
@media (min-width: 1900px) {html {font-size: 18px;}}
@media (min-width: 2500px) {html {font-size: 20px;}}