@import './styles.scss';
.main-content {
    background-color: var(--background);
    display: grid;
  
    &.secondary-grid {
      grid-template-columns: 2fr 9fr;
    }
  
    &.home-grid {
      grid-template-columns: 2fr 7fr 2fr;
    }
  
    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }