.aside-left{
    background-color: var(--aside);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.9rem 0rem 3rem 0rem;
    box-sizing: border-box;
    height: fit-content;
    border-radius: 0px 0px 3px 0px;
    height: 100%;
}
/*Acentuación a popular*/
.aside-left .popular-red{
    color: var(--logo);
}
/*Separaciones*/
.aside-left li{
    display: block;
    padding-bottom: 1.5rem;
}

.aside-left li > a:hover{
    color: var(--logo);
}
/*Línea divisoria*/
.aside-left .padding-divider{
    padding: 2rem 0;
    width: 100%;
}
.aside-left .divider{
    height: 1px;
    background-color: var(--search);
}
/*Quitado del padding al last child*/
.aside-left li:last-child{
    padding-bottom: 0;
}
/*Separación de la izquierda del contenedor con un padding*/
.principal-page, .topics, .secondary-page {
    padding: 0 1rem 0 1.5rem;
}

/*Responsive*/
@media (max-width: 1023px) {
    .aside-left{
        display: none;
    }
}

@media (min-width: 1600px) {
    .aside-left li{
        padding-bottom: 2rem;
    }
    .principal-page, .topics, .secondary-page {
        padding: 0 1rem 0 2rem;
    }
}
@media (min-width: 2500px) {
    .aside-left li{
        padding-bottom: 3rem;
    }
    .principal-page, .topics, .secondary-page {
        padding: 0 1rem 0 2.5rem;
    }
}
