/*-----------------MOBILE FIRST--------------------*/


.show-coments{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}
.show-coments-coment{
    border-radius: 5px;
    padding: 0.8rem 0.6rem;
    background-color: var(--post);
}
.show-coment-content{
    display: grid;
    grid-template-columns: auto 3fr;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--search);
}
.posts-content{
    row-gap: 1rem;
}

/*-------------------------------------------------*/
/*contenedor*/
.show-post{
    border-radius: 5px;
    padding: 0.8rem 0.6rem;
    display: flex;
    flex-direction: column;
    background-color: var(--principal);
}

/*contenedor usuario y botón show post*/
.show-post-user{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}
/*datos del usuario*/
.show-post-user-data{
    padding: 0rem 2rem 0rem 0.5rem;
}
/*imagen del usuario*/
.show-post-user-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}



/*-------------------------------------------------*/
/*botón show post*/
.show-post-button-show{
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.6rem;
    background-color: var(--white);
}
.show-post-button-show p{
    color: var(--background);
}
.show-post-button-show:hover{
    outline: 1px solid var(--logo);
    background-color: rgba(0, 0, 0, 0.096);
    cursor: pointer;
}
.show-post-button-show p{
    color: var(--background);
}
.show-post-button-show:hover > p{
    color:var(--white)
}



/*-------------------------------------------------*/
/*contenedor del la imagen y texto*/
.show-post-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
}
/*imagen del post*/
.show-post-content-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 3px;
}
/*contenido textual del post*/
.show-post-content-data{
    border-radius: 3px;
    padding: 0.5rem;
    background-color: var(--search);
    overflow: hidden;
    
}

.show-post-content-data-title{
    padding-bottom: 0.7rem;
    /* overflow: hidden; 
    word-wrap: break-word;   */
}
/*configuración de desbordamiento*/
/* .show-post-content-data-text{
    overflow: hidden; 
    word-wrap: break-word; 
} */

/* .show-post-content-data-text p{
    max-height: 100%;
} */

.show-post-user-data .user-time{
    color: var(--time);
}


/*-------------------------------------------------*/
/*contenedor botones*/
.show-post-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0rem;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}
/*cada botón*/
.show-post-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    cursor: pointer;
}
/*íconos coments, likes, seen*/
.show-post-button img{
    padding-right: 0.4rem;
    height: 20px;
}






/*----------------------RESPONSIVE---------------------------*/
@media (min-width: 768px) {
    .show-post-buttons{
        display: flex;
        justify-content: flex-end;
        column-gap: 2rem;
        padding-top: 1rem;   
    }
       /*íconos coments, likes, seen*/
       .show-post-button img{
        padding-right: 0.4rem;
        height: 30px;
    }
}

@media (min-width: 1024px) {
    /* .show-post-content-data{
        height: 160px;
    } */
    .show-post-content-img{
        height: 250px;
    }
    .show-post{
        padding:1rem;
    }
}

@media (min-width: 1240px) {
    .show-post-content-img{
        height: 320px;
    }
    .show-post-buttons-button img{
        height: 35px;
    }
    .show-post-content-data{
        padding: 1rem;
        
    }
}