@import '../../../styles/styles.scss';

.post{
  background-color: $principal-color;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 0.5rem;


  &-container-user{
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 0.5rem;
  }

  &-content{
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
     
    &-img{
      background-color: var(--background);
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%;
      border-radius: 3px;
    }

    &-data{
      border-radius: 3px;
      padding: 1rem;
      background-color: $search-color;
      overflow: hidden;
      height: 130px;
      display: flex;
      flex-direction: column;

      &-title{
        padding-bottom: 0.5rem;
        word-wrap: break-word; 
        height: fit-content;
      }
      
      &-text{
        overflow: hidden; 
        word-wrap: break-word; 

        p{
          max-height: 100%;
          color: $white-color;
          background-image: linear-gradient(to bottom, $white-color 40%, transparent);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          display: block;
          line-height: 2rem;
        }
      }
    }
  }
  .less-important {
    color: $time-color;
  }
  .post-container-user {
    display: flex;

    .enable-icons-container{
      padding-left: 1.5rem;
      display: flex;
      flex-direction: row;
      column-gap: 1.5rem;

      button {
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
    .enable-icon{
      path {
        color: $white-color;;
      }

      &:hover > path {
        color: $logo-color;
      }

      &:hover{
        cursor: pointer;
      }
    }
  }

  .post-user {
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0.5rem;

    .user-name:hover {
      color: $logo-color;
      cursor: pointer;
    }

    .post-user-image {
      background-color: $white-color;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .button-show {
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.5rem ;
    background-color: $white-color;
    

    a p {color: $background-color;}

    &:hover {
      outline: 1px solid $logo-color;
      background-color: rgba(0, 0, 0, 0.096);
      cursor: pointer;

      a p {
        color: $white-color;
      }
    }
  }
}



//-----------media queries
@media (min-width: 768px) {
  .post-content{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    &-img{
      height: 300px;
    }
    &-data{
      height: 150px;
    }
  }
  .post-container-user{
      column-gap: 0.8rem;
      
      &-img{
        height: 100px;
      }
      &-data{
        height: 100px;
        &-text p{
          display:block
        }
      }
  }
}

@media (min-width: 1240px) {
  .post-user-image{
      height: 40px;
      width: 40px;
  }
}

@media (min-width: 1400px) {
  .post-content-img{
      height: 400px;
  }
  .post-content-data{
      height: 160px;
  }
}

@media (min-width: 1900px) {
  .post-content-img{
      height: 450;
  }
  .post-content-data{
      height: 200px;
  }
}

