.container-show-post{
    width: 93%; /*Lo separa de las otras secciones, deja ese espacio negro del fondo*/
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem 0;
    row-gap: 0.8rem;
}

.container-show-post .most-popular .post-content-data-text p {
    color: var(--white);
  }

.container-show-post .most-popular .post-content-data{
    height: fit-content;
    display: block;
}