/*-----------------MOBILE FIRST--------------------*/




/*-------------------------------------------------*/
/*contenedor*/
.principal-post{
    border-radius: 5px;
    padding: 0.8rem 0.6rem;
    display: flex;
    flex-direction: column;
    background-color: var(--principal);
}

/*contenedor usuario y botón show post*/
.principal-post-user{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}
/*datos del usuario*/
.principal-post-user-data{
    padding: 0rem 2rem 0rem 0.5rem;
}
/*imagen del usuario*/
.principal-post-user-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}



/*-------------------------------------------------*/
/*botón show post*/
.principal-post-button-show{
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.6rem;
    background-color: var(--white);
}
.principal-post-button-show p{
    color: var(--background);
}
.principal-post-button-show:hover{
    outline: 1px solid var(--logo);
    background-color: rgba(0, 0, 0, 0.096);
    cursor: pointer;
}
.principal-post-button-show p{
    color: var(--background);
}
.principal-post-button-show:hover > p{
    color:var(--white)
}



/*-------------------------------------------------*/
/*contenedor del la imagen y texto*/
.principal-post-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
/*imagen del post*/
.principal-post-content-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 3px;
}
/*contenido textual del post*/
.principal-post-content-data{
    border-radius: 3px;
    padding: 0.5rem;
    background-color: var(--search);
    overflow: hidden;
    height: 150px;
    display: grid;
    grid-template-rows: auto auto 1fr; 
    grid-auto-rows: auto;
}

.principal-post-content-data-title{
    padding-bottom: 0.7rem;
    overflow: hidden; 
    word-wrap: break-word;  
}
/*configuración de desbordamiento*/
.principal-post-content-data-text{
    overflow: hidden; 
    word-wrap: break-word; 
}

.principal-post-content-data-text p{
    max-height: 100%;
}
.principal-post-content-data-text p {
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--white)35%, transparent);
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores basados en WebKit */
    color: transparent;
  }
.principal-post-user-data .user-time{
    color: var(--time);
}


/*-------------------------------------------------*/
/*contenedor botones*/
.principal-post-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0rem;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}
/*cada botón*/
.principal-post-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    cursor: pointer;
}
/*íconos coments, likes, seen*/
.principal-post-button img{
    padding-right: 0.4rem;
    height: 20px;
}






/*----------------------RESPONSIVE---------------------------*/
@media (min-width: 768px) {
    .principal-post-buttons{
        display: flex;
        justify-content: flex-end;
        column-gap: 2rem;
        padding-top: 1rem;   
    }
       /*íconos coments, likes, seen*/
       .principal-post-button img{
        padding-right: 0.4rem;
        height: 30px;
    }
}

@media (min-width: 1024px) {
    .principal-post-content-data{
        height: 160px;
    }
    .principal-post-content-img{
        height: 250px;
    }
    .principal-post{
        padding:1rem;
    }
}

@media (min-width: 1240px) {
    .principal-post-content-img{
        height: 320px;
    }
    .principal-post-buttons-button img{
        height: 35px;
    }
}