.comunities{
    background-color: var(--aside);
    border-radius: 5px;
    padding: 1rem 1.5rem;
}
.comunity{
    padding: 0.3rem 0;
    display: flex;
    align-items: center;
}
.comunity:last-child{
    padding-top: 1rem;
    color: #bebebe;
}
.comunity-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--white);
}
.comunity-name{
    padding-left: 1rem;
}
.comunity:hover, .comunity:hover > .comunity-name{
    color:var(--logo)
}